<nav class="nav collapsible">
  <a class="nav__logo" href="/"><img src="images/Viki's logo.png" alt="" /></a>
  <svg class="icon icon--black nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Manicure</a></li>
    <li class="nav__item"><a href="#">Eye-lashes</a></li>
    <li class="nav__item"><a href="#">Prices</a></li>
    <li class="nav__item"><a href="#">Galery</a></li>
  </ul>
</nav>
<section class="main__block">
  <div class="main__text">
    <h2>Nails & eyelashes</h2>

    <p class="paragraph__1">"To be typical is normal.</p>
    <p class="paragraph__2">To be uniqe is a choice."</p>
    <p class="main__name">by Viki</p>
  </div>
</section>
<script src="js/main.js"></script>
