<nav class="nav collapsible">
    <a class="nav__logo" href="#about"
      ><img src="images/Viki's logo.png" alt=""
    /></a>
    <svg class="icon icon--black nav__toggler">
      <use xlink:href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
      <li class="nav__item"><a href="#nails">Manicure</a></li>
      <li class="nav__item"><a href="#lashes">Eye-lashes</a></li>
      <li class="nav__item"><a href="#gifts">Gifts</a></li>
      <li class="nav__item"><a href="#">Galery</a></li>
      <li class="nav__item"><a href="#">Prices</a></li>
    </ul>
  </nav>
  <section class="main__block">
    <div class="main__text">
      <h1>Nails & eyelashes</h1>

      <p class="paragraph__1">"To be typical is normal.</p>
      <p class="paragraph__2">To be uniqe is a choice."</p>
      <p class="paragraph__3">by Viki</p>
    </div>
  </section>
  <section class="block container block-plans">
    <div class="block-plans-header">
      <h2>What can I ofer for you?</h2>
    </div>
    <div class="grid grid--1x3">
      <div class="plan">
        <div id="nails" class="card card--primary">
          <header class="card__header">
            <h3 class="plan__name">Nails</h3>

            <span class="plan__description">
              I'm exited to make your nails unique, which represents
              yourself, your mood and your personality. It is up to you, you
              choose! Your dreams will come true. For beautiful , unique and
              healthy nails.</span
            >
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Fashion Nails</li>
              <li class="list__item">Nail Art</li>
              <li class="list__item">Emoji Inspired</li>
              <li class="list__item">Much more...</li>
            </ul>
            <button class="btn btn--outline btn--block btn--secondary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="plan">
        <div id="lashes" class="card card--secondary">
          <header class="card__header">
            <h3 class="plan__name">Eyelashes</h3>

            <span class="plan__description">
              Don't forget Lashes are a girls best friend. To raise your
              confidence, to enhance the beauty of your eyes, or just to stand
              out from others, do not hesitate to contact me for long,curvy
              and stunnig lashes.</span
            >
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Mink Eyelash </li>
              <li class="list__item">Silk Eyelash </li>
              <li class="list__item">Sable Eye </li>
              <li class="list__item">Much more...</li>
            </ul>
            <button class="btn btn--outline btn--block btn--secondary">Learn More</button>
          </div>
        </div>
      </div>
      <div class="plan">
        <div id="gifts" class="card card--third">
          <header class="card__header">
            <h3 class="plan__name">Gifts</h3>

            <span class="plan__description">
              I'm offering artisanal gifts for your loved ones,or for
              yourself. It is ideal to someone who likes to be different, to
              be unique, or just to have fun. All sort of things, it depends
              on your imagination.
            </span>
          </header>
          <div class="card__body">
            <ul class="list list--tick">
              <li class="list__item">Rings</li>
              <li class="list__item">Medalions</li>
              <li class="list__item">Emoji Inspired</li>
              <li class="list__item">Much more...</li>
            </ul>
            <button class="btn btn--outline btn--block btn--secondary">Learn More</button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <article>
    <div id="about" class="testimonial-header">
      <h2>About me</h2>
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img
            class="testimonial__image"
            src="images/viki.jpg"
            alt=" A beautiful women"
          />
          <span class="icon-container icon-container--accent">
            <svg class="icon icon--white icon--small">
              <use xlink:href="images/sprite.svg#quotes"></use>
            </svg>
          </span>
        </div>
        <blockquote class="quote">
          <p class="quote__text">
            Beauty begins the moment you decide to be yourself
          </p>
          <footer>
            <div class="media">
              <div class="media__image">
                <svg class="icon icon--primary quote__line">
                  <use xlink:href="images/sprite.svg#line"></use>
                </svg>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">Coco Chanelle</h3>
                <p class="auhtor__description">French Fashion Designer</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </article>
  <script src="js/main.js"></script>
  <section >
    <div class="callout callout--secondary">
      <div class="grid grid--1x3">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to be yourself ?</h2>
          <p>
            As a young but experience beautycian, my advice is to be yorself,
            we are all beautyfull, but if you want to enhance your beauty, or
            just want to be uniqe, do not hesitate to contact me.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get in touch</a>
        <div class="testimonial__image">
          <img
            class="testimonial__image"
            src="images/map2.jpg"
            alt=" map around london,catford"
          />
      </div>
    </div>
  </section>