<section class="block container block-plans">
  <div class="grid grid--1x3">
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Nails</h3>
          <!-- <span class="plan__price">Nails</span>
            <span class="plan__billing-cycle">/Monthly</span> -->
          <!-- <span class="badge badge--secondary badge--small">10% off</span> -->
          <span class="plan__description">
            I'm more than happy to make your nails unique, which represents
            yourself, your mood and your personality. It is up to you, you
            choose! Your dreams will come true. For beautiful , unique and
            healthy nails.</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Fashion Nails</li>
            <li class="list__item">Nail Art</li>
            <li class="list__item">Emoji Inspired</li>
            <li class="list__item">Much more...</li>
          </ul>
          <button class="btn btn--outline btn--block">Learn More</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--secondary">
        <header class="card__header">
          <h3 class="plan__name">Eyelashes</h3>
          <!-- <span class="plan__price">Nails</span>
            <span class="plan__billing-cycle">/Monthly</span> -->
          <!-- <span class="badge badge--secondary badge--small">10% off</span> -->
          <span class="plan__description">
            Don't forget Lashes are a girls best friend. To raise your
            confidence, to enhance the beauty of your eyes, or just to stand out
            from others, do not hesitate to contact me for long,curvy and
            stunnig lashes.</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Fashion Nails</li>
            <li class="list__item">Nail Art</li>
            <li class="list__item">Emoji Inspired</li>
            <li class="list__item">Much more...</li>
          </ul>
          <button class="btn btn--outline btn--block">Learn More</button>
        </div>
      </div>
    </div>
    <div class="plan">
      <div class="card card--primary">
        <header class="card__header">
          <h3 class="plan__name">Art</h3>
          <!-- <span class="plan__price">Nails</span>
            <span class="plan__billing-cycle">/Monthly</span> -->
          <!-- <span class="badge badge--secondary badge--small">10% off</span> -->
          <span class="plan__description">
            Don't forget Lashes are a girls best friend. To raise your
            confidence, to enhance the beauty of your eyes, or just to stand out
            from others, do not hesitate to contact me for long,curvy and
            stunnig lashes.</span
          >
        </header>
        <div class="card__body">
          <ul class="list list--tick">
            <li class="list__item">Fashion Nails</li>
            <li class="list__item">Nail Art</li>
            <li class="list__item">Emoji Inspired</li>
            <li class="list__item">Much more...</li>
          </ul>
          <button class="btn btn--outline btn--block">Learn More</button>
        </div>
      </div>
    </div>
  </div>
</section>
