<blockquote class="quote">
  <p class="quote__text">Beauty begins the moment you decide to be yourself</p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">Coco Chanelle</h3>
        <p class="auhtor__description">French Fashion Designer</p>
      </div>
    </div>
  </footer>
</blockquote>
