<div class="card testimonial">
  <div class="grid grid--1x2">
    <div class="testimonial__image">
      <img
        class="testimonial__image"
        src="images/image1.jpg"
        alt=" A beautiful women"
      />
      <span class="icon-container icon-container--accent">
        <svg class="icon icon--white icon--small">
          <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
      </span>
    </div>

    <blockquote class="quote">
      <p class="quote__text">
        Beauty begins the moment you decide to be yourself
      </p>
      <footer>
        <div class="media">
          <div class="media__image">
            <svg class="icon icon--primary quote__line">
              <use xlink:href="images/sprite.svg#line"></use>
            </svg>
          </div>
          <div class="media__body">
            <h3 class="media__title quote__author">Coco Chanelle</h3>
            <p class="auhtor__description">French Fashion Designer</p>
          </div>
        </div>
      </footer>
    </blockquote>
  </div>
</div>
